@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

/* Make it mobile responsive by making it non responsive for now */
@media(max-width:  700px) {
	* {
		display: none;
	}
}

:root {
	--bgColor: rgb(43,42,51);
	--bgLight:  rgb(60, 56, 70);
	--fontColor:  #efefef;
	--dailyColor:  rebeccapurple;
	--dailyDark: #572b82;
	--dailyLight: #7d3ebb;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	min-height: 100vh;
	/*FIXME:  set height to some value for now*/
	height: 5000px;
	margin: 0;
	background-color: var(--bgColor);
	color: var(--fontColor);
}

.clock-container {
	width: 100%;

	margin: 0;
	margin-top: 0.5rem;

	text-align: center;
}

.clock-container #clock-time {
	font-size: 3.5rem;
	margin: 0;
	margin-bottom: -0.25rem;
	padding: 0;
}

.clock-container #clock-date {
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 0;
	padding: 0;
}

.search-container {
	background-color: rgba(43, 42, 51, 0.8);
	max-width: 100%;

	position: sticky;
	top: 0;

	margin: 0;
	margin-bottom: 1.5rem;
	padding: 0.25rem 0 1rem 0;

	text-align: center;

	z-index: 10;
}

.search-container input {
	background-color: var(--bgLight);
	
	font-size: 1.25rem;
	font-family: inherit;

	height: 2.5rem;
	width: 500px;

	border-radius: 12px;
	border: none;
	outline: none;

	box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.05);

	margin: 0.5rem 0;
	padding: 0.75rem;

	color: var(--fontColor);
}

.btn-container {
	position: fixed;
	top: 1rem;
	right: 1rem;

	display: flex;
	justify-content: center;
	align-content: center;

	z-index: 10;
}

.icon-btn {
	background-color: transparent;
	border: none;

	font-size: 1.5rem;
	color: white;

	padding: 0;
	margin: 0.25rem 0.5rem;

	cursor: pointer;
}

.small-btn {
	font-size: 1rem;
}

.services-container {
	display: inline;
}

.services-dropdown {
	position: absolute;

	background-color: var(--bgLight, #eee);
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	top: calc(100% + 0.5rem);
	right: 0rem;

	height: 250px;
	width: 250px;

	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;

	margin: 0;
	padding: 1rem;

	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);

	transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.services-container.active > .services-dropdown{
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.services-dropdown img {
	width: 2.5rem;
	height: 2.5rem;
	object-fit: cover;

	margin: 1rem;
}

.settings-dropdown {
	/*FIXME:  displayed dropdown none for now */
	display: none;
	position: absolute;
}

main {
	max-width: 1200px;

	padding: 0;
	margin: auto;

	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
}


.calendar-container {
	background-color: var(--bgLight);
	width: 55%;
	height: 460px;

	border-radius: 10px;
	box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.1);

	margin: 0;
	padding: 1.25rem;
	padding-top: 0.5rem;

	display: grid;
	grid-template-rows: 2.5rem 3rem repeat(5, 1fr);
	grid-template-columns: repeat(7, 1fr);
}

.calendar-header {
	grid-column:  1/8;
	width: 100%;

	display: flex;
	align-content: center;
	justify-content: space-between;
}

.calendar-header #calendar-ym {
	font-size: 1.2rem;
	margin: auto;
}

.cal-day {
	font-size: 1.1rem;
}

.date-cell {
	position: relative;
	padding: 0.25rem;
	border-radius: 5px;
}

.date-cell.selected {
	color: white;
	background-color: var(--bgColor);
}

.date-cell .count-container {
	position: absolute;
	bottom: 0.25rem;
	right: 0.5rem;

	display: flex;
	flex-direction: row;


	font-size: 0.45rem;
}

.date-cell .duedates-container {
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-end;

	height: 60%;
	width: 60%;
	overflow: hidden;

	padding: 0;

	font-size: 0.6rem;
}

.date-cell .duedates-container i {
	margin: 0.1rem;
}

.count-todo {
	color: white;
}

.count-comp {
	color: gray;
}

.count-container .count-num {
	font-size: 0.65rem;
	margin-left: 0.25rem;
}

.daily-container {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 40%;
	max-height: 460px;

	padding: 0;
	margin: 0;

	overflow: hidden;
}


.daily-container .daily-list {

	list-style-type: none;
	padding: 0;
	margin: 0;

	flex-grow: 1;

	overflow: auto;


	/* FIXME: Browser compatiability issues. */
	scrollbar-width: none;  /* Firefox */
}

.daily-container .daily-list li {
	position: relative;

	display: flex;
	align-content: center;
	justify-content: flex-end;

	background-color: var(--dailyColor);
	border-radius: 5px;

	width: 100%;
	min-height: 3rem;

	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
	
	padding: 1rem;
	margin: 0;
	margin-bottom: 0.75rem;
}

.completed {
	color: gray !important;
	background-color: var(--dailyDark) !important;
	text-decoration: line-through !important;
}

.daily-container .daily-list .daily-subtitle {
	font-size: 0.85rem;
	margin-left: 0.5rem;
}

.daily-container .daily-list .daily-name {
	flex-grow: 1;
}

.daily-container .daily-list .daily-priority {
	font-size: 0.65rem;
	margin: 0.25rem 0.5rem;
	padding: 0;
}

.daily-header {
	position: relative;

	background-color: var(--dailyDark);

	border-radius: 5px 5px 0px 0px;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-start;
	flex-wrap: wrap;

	overflow: hidden;

	flex-shrink: 0;
	height: 50px;

	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
	
	width: 100%;

	padding: 0.75rem;
	margin: 0rem;
	margin-bottom: 0.75rem;

	transition: height 500ms ease-in-out;
}

.daily-header.show {

	height: 240px;
}

.daily-sort-btns {
	position: absolute;
	left: 1rem;
}

.daily-add-container, .due-add-container {

	flex-basis: 100%;

	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: flex-start;

	width: 100%;
	
	padding: 0;
	margin: 0.75rem 0;
}

.daily-add-container input, .due-add-container input {
	background-color: var(--dailyLight);

	width: 100%;
	height: 2rem;
	
	border: none;
	border-radius: 5px;

	font-family: inherit;
	font-size: 1rem;
	color: var(--fontColor);;

	margin: 0.5rem 0;
	padding: 0.5rem;
}

.due-add-container input[type="time"], .due-add-container input[type="date"]  {
	margin-left: 1rem;
	width: auto;
}

.daily-add-container .daily-add-submit, .due-add-container .due-add-submit {

	border-radius: 5px;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);

	margin: auto;
	margin-top: 0.5rem;
	padding: 0.25rem 2.5rem;

	border: none;
	outline: none;
	color: white;
	font-family: inherit;

	background-color: var(--dailyLight);
}

.daily-add-container .daily-add-priority {
	margin: 0.5rem 0;
	color: white;
}

.due-add-container .duedate-add-icon i {
	margin: 0.75rem 0.2rem;
}

.daily-add-container .daily-add-priority input, .due-add-container .duedate-add-icon input{
	display: none;
}

.due-add-container .duedate-add-icon input[type="radio"]:checked + label {
	color: gray;
}

.daily-add-container .daily-add-priority i:first-of-type {
	margin-left: 0.5rem;
}

.daily-add-container .daily-add-priority i {
	transition: color 200ms ease-in-out;
}

.star-select {
	color: yellow;
}

.selected {
	color: gray;
}

.remove {
	display: none !important;
}


